<div class="error-container">
    <div class="error-box">
        <h1 class="error-code">404</h1>
        
        <h2 class="error-title">Page Not Found</h2>
        
        <p class="error-message">
            Oops! It looks like you've stumbled upon a page that doesn't exist.
            Don't worry, we'll get you back on track.
        </p>

        <div class="error-actions">
            <a routerLink="/" class="btn btn-login large">
                Go to Home
            </a>
            
            <a routerLink="/viewQuestions" class="btn btn-signup large">
                Go to Dashboard
            </a>
        </div>
    </div>
</div>