<header class="main-header">
    <div class="header-content">
        <span>Q&A Tech Prep</span>
    </div>
</header>

<div class="home-container">
    <div class="welcome-box">
        <h1>Q&A Tech Prep</h1> 
        <p>Your centralized hub for mastering technical interview questions.</p>
        
        
        <div class="cta-buttons">
            <button routerLink="/login" class="btn btn-login large">Login</button>
            <button routerLink="/signup" class="btn btn-signup large">Sign Up</button>
        </div>
    </div>
</div>
<app-footer></app-footer>